# Visual Studio
.vs/
*.suo
*.user
*.userprefs
*.pdb
*.obj
*.bak
*.log
*.ncb
*.sbr
*.bsc
*.lib
*.exe
*.dll
*.com
*.manifest
*.res
*.tlb
*.tlh
*.tmp
*.vspscc
*.vssscc
*.vsp
*.vshost.*
*.testsettings
*.trx
*.webtest
*.csdproj.user
*.csproj.user
*.vbproj.user
*.fsproj.user
*.sln.docstates
*.sln.ide
*.sln.suo

# NuGet
packages/
*.nupkg
*.cache
*.nuget.props
*.nuget.targets

# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/